:host /deep/ {
  display: block;
  svg {
    max-width: 600px;
    width: 100%;
    min-width: 400px;
    fill: none;
    stroke: none;
    stroke-linecap: square;
    stroke-miterlimit: 10;
    #downstream_direction, #upstream_direction {
      fill: #cfe2f3;
      text {
        letter-spacing: 0.5em;
      }
    }

    // Will not rotate on IE due to: https://connect.microsoft.com/IE/feedback/details/811744/ie11-bug-with-implementation-of-css-transforms-in-svg
    #downstream_direction text {
      -ms-transform: rotateZ(90deg);
      transform: rotateZ(90deg);
    }
    #upstream_direction text {
      -ms-transform: rotateZ(-90deg);
      transform: rotateZ(-90deg);
    }

    #Cache_DB {
      opacity: 0.3;
      &.active {
        opacity: 1;
      }
    }
    #downstream .stream {> use, > path { fill: #6aa84f; }}
    #upstream .stream {> use, > path { fill: #3d85c6; }}

    text {
      fill: #000000;
      font-family: Arial;
      font-size: 1.15em;
    }
    .descission {
      fill: #f1c232;
      opacity: 1;
    }
    .link {
      stroke: #000000;
      stroke-width: 1.0;
      stroke-linejoin: round;
      stroke-linecap: butt;
    }

    /** Stream and error boxes */
    .stream, .error {
      &.active {
        cursor: pointer;
        > text { transform-origin: 8px 0px; }
        &:hover {
          > path, > use  { transform: scale(1.2); }
          > text { transform: translate(-10px, -10px) scale(1.4); }
        }
      }
      text, path, use {
        transition: transform 0.2s ease-out;
      }
      text {
        font-family: Monospace;
        font-size: 0.7em;
      }
    }
    .stream {
      > use, > path { opacity: 0.2; }
      &.active {> use, > path { opacity: 1; }}
    }
    #downstream { .stream, .error { > use, > path { transform-origin: 30px 50px; } }}
    #upstream   { .stream, .error { > use, > path { transform-origin: 20px 30px; } }}

    .error {
      opacity: 0;
      &.active {
        opacity: 1;
      }
      text  { fill: #ffffff; }
      > use, > path { fill: #cc0000; }
    }
  }
}

// Browser hacks using cssuseragent
.ua-ie :host /deep/ svg {
  height: 510px;
}
