md-input {
  width: 100%;
  button {
    float: right;
    padding: 0;
    margin: 0;
    margin-bottom: -1em;
    min-width: 2em;
  }
}
md-card-content app-pager {
  margin-top: -2em;
}

tbody {
  tr:first-child td {
    cursor: pointer;
  }
  td[colspan] {
    text-align: center;
    border-top: 0;
    .flow-container {
      display: flex;
      flex-direction: row;
      > * {
        flex: 1;
      }
    }
    dl {
      margin-left: 2rem;
      text-align: left;
      dt {
        float: left;
        font-weight: bold;
        text-align: right;
        display: inline-block;
        width: 60px;
      }
      dd {
        margin-left: 70px;
      }
    }
  }
}

