<h2>Hendelser</h2>

<div>
  Viser et hendelsesforløp
</div>

<md-card>
  <md-card-title>
    <md-input [(ngModel)]="searchstring" role="searchbox">
      <button md-suffix md-button role="search"><fint-fa name="search"></fint-fa>Søk</button>
      <button md-suffix md-button (click)="searchstring = ''"><fint-fa name="times"></fint-fa></button>
    </md-input>
  </md-card-title>
  <md-card-content class="table-container" *ngIf="events">
    <fint-pager [(start)]="start" [(end)]="end" [total]="total" [(current)]="current"></fint-pager>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Source</th>
          <th>Action</th>
          <th>Status</th>
          <th>Client</th>
          <th>At</th>
        </tr>
      </thead>

      <tbody *ngFor="let event of filteredEvents | slice:start:end;">
        <tr (click)="openEvent(event)">
          <td [innerHTML]="event.corrId | highlight:searchstring"></td>
          <td [innerHTML]="event.source | highlight:searchstring"></td>
          <td [innerHTML]="event.event.verb | highlight:searchstring"></td>
          <td [innerHTML]="event.event.status | highlight:searchstring"></td>
          <td [innerHTML]="event.event.client | highlight:searchstring"></td>
          <td [innerHTML]="event.event.time | utcDate | highlight:searchstring"></td>
        </tr>
        <tr *ngIf="event.isOpen || filteredEvents.length === 1">
          <td colspan="6" [className]="event.showDetail ? 'detail-view' : ''">
            <div class="flow-container">
              <fint-event-flow [event]="event" (onOpen)="showDetail($event)"></fint-event-flow>
              <div *ngIf="activeEvent">
                <pre>{{ activeEvent | json }}</pre>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
  <md-card-actions>
    <fint-pager [(start)]="start" [(end)]="end" [total]="total" [(current)]="current"></fint-pager>
  </md-card-actions>
</md-card>
