<h2>Hendelser</h2>

<div>
  Viser et hendelsesforløp
</div>

<md-card>
  <div class="md-spinner-container" *ngIf="isLoading">
    <md-spinner class="center"></md-spinner>
  </div>

  <md-card-title>
    <md-input-container>
      <input mdInput md-input type="text" [(ngModel)]="searchstring" role="searchbox" #search>
      <button md-suffix md-button (click)="searchstring = ''"><fint-fa name="times"></fint-fa></button>
      <button md-suffix md-button role="search"><fint-fa name="search"></fint-fa>Søk</button>
    </md-input-container>
  </md-card-title>
  <md-card-content class="table-container" *ngIf="eventGroups">
    <fint-pager [total]="pages" [min]="1" [(page)]="current"></fint-pager>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Source</th>
          <th>Action</th>
          <th>Status</th>
          <th>Client</th>
          <th>At</th>
        </tr>
      </thead>

      <tbody *ngFor="let eventGroup of eventGroups" [ngClass]="{'loading': isLoading}">
        <tr (click)="openEvent(eventGroup)">
          <td [innerHTML]="eventGroup.corrId | highlight:searchstring"></td>
          <td [innerHTML]="eventGroup.currentEvent.source | highlight:searchstring"></td>
          <td [innerHTML]="eventGroup.currentEvent.action | highlight:searchstring"></td>
          <td [innerHTML]="eventGroup.currentEvent.status | highlight:searchstring"></td>
          <td [innerHTML]="eventGroup.currentEvent.client | highlight:searchstring"></td>
          <td [innerHTML]="eventGroup.currentEvent.time | utcDate | highlight:searchstring"></td>
        </tr>
        <tr *ngIf="eventGroup.isOpen || eventGroups.length === 1">
          <td colspan="6" [className]="eventGroup.showDetail ? 'detail-view' : ''">
            <div class="flow-container">
              <fint-event-flow [eventGroup]="eventGroup" (onOpen)="showDetail($event)"></fint-event-flow>
              <table>
                <tr>
                  <th>Action</th>
                  <td><span *ngIf="activeEvent">{{activeEvent.event.action}}</span></td>
                </tr>
                <tr>
                  <th>Status</th>
                  <td><span *ngIf="activeEvent">{{activeEvent.event.status}}</span></td>
                </tr>
                <tr>
                  <th>Time</th>
                  <td><span *ngIf="activeEvent">{{activeEvent.timestamp | utcDate}}</span></td>
                </tr>
                <tr>
                  <th>OrgId</th>
                  <td><span *ngIf="activeEvent">{{activeEvent.orgId}}</span></td>
                </tr>
                <tr>
                  <th>Source</th>
                  <td><span *ngIf="activeEvent">{{activeEvent.source}}</span></td>
                </tr>
                <tr>
                  <th>Client</th>
                  <td><span *ngIf="activeEvent">{{activeEvent.event.client}}</span></td>
                </tr>
                <tr>
                  <th>Message</th>
                  <td><span *ngIf="activeEvent">{{activeEvent.event.message || '&nbsp;'}}</span></td>
                </tr>
                <tr>
                  <th>Data</th>
                  <td><span *ngIf="activeEvent">{{activeEvent.event.data.join(' ')}}</span></td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
  <md-card-actions>
    <fint-pager [total]="pages" [min]="1" [(page)]="current"></fint-pager>
  </md-card-actions>
</md-card>
